body {
    background-color: antiquewhite;
}

h1 {
    background-color: #B2AC88;
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 1%;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    background-color: #A7A794;
    padding: 1%;
    text-align: center;
}

li {
    display: inline;
    background-color: #A7A794;
}

li:hover{
    background-color: #A7A795;
    border: solid 1px green;
    border-radius: 5%;
    padding: 1%;
}

a{
    text-decoration: none;
    color: green;
    padding: 1%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;   
}

#text {
    float: left;
    text-align: left;
    font-size: 120%;
    color: green;
    width: 80%;
    padding: 5%;
}

#slika {
    
}


footer {
    background-color:#B2AC88;
    color: antiquewhite;
    align-items: center;
}


table {
    color: antiquewhite;
    align-self: center;
}